@import "../styles.css/nav.css";
@import "../styles.css/header.css";
@import "../styles.css/projects.css";
@import "../styles.css/skills.css";
@import "../styles.css/tasks.css";
@import "../styles.css/contacts.css";
@import "../styles.css/footer.css";
@import "../styles.css/js-burger.css";

/* *{outline:1px solid red;
} */



body {
    background-color: #000000;
    color:  #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0 auto;
}

h1, 
h2, 
h3, 
p, 
a,
ul,
li{
    letter-spacing: -0.03em;
}

.container{
    margin: 0 auto;
    max-width: 1150px;
}

@media (max-width: 1199px) {
    .container{
        padding: 0 15px;
    }


}

@media (max-width: 767px) {
    .container{
        padding: 0 10px;
    }
}


